<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587606635316-3p5b1u2tmd6qqqjfkuo1go5g0gak0khj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587606635316-3p5b1u2tmd6qqqjfkuo1go5g0gak0khj</string>
	<key>API_KEY</key>
	<string>AIzaSyAgZoq07Uhp8n-wEflOV_ZKMLg3lhZ2GU8</string>
	<key>GCM_SENDER_ID</key>
	<string>587606635316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.n2bbrasil.marketingcloudsfExample</string>
	<key>PROJECT_ID</key>
	<string>n2b-sf</string>
	<key>STORAGE_BUCKET</key>
	<string>n2b-sf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587606635316:ios:5b8689a2c967bf5f842b61</string>
</dict>
</plist>