<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797050328040-f33gah1hdsd47lgsnggchqdt1b4ka3bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797050328040-f33gah1hdsd47lgsnggchqdt1b4ka3bm</string>
	<key>API_KEY</key>
	<string>AIzaSyBejyIGXg3BEDkx7RWAMeWHTIxeL6bLae0</string>
	<key>GCM_SENDER_ID</key>
	<string>797050328040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartfit.app.smart-nutri-ios</string>
	<key>PROJECT_ID</key>
	<string>mynutri-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>mynutri-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797050328040:ios:71db9e495952fe91180a5d</string>
	<key>DATABASE_URL</key>
	<string>https://mynutri-staging.firebaseio.com</string>
</dict>
</plist>